.App {
  text-align: center;
  background : url('http://static1.360vrs.com/pano-content/judith-stone-at-sunset-east-farndon/640px-360-panorama.jpg');
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: backgroundScroll 20s linear infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  @-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -400px 0;}
  }
          
  @keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -400px 0;}
  }
.filter{
  width:50%;
  display:flex ;
}

.movieList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5%;
}
.rate{
  color :gold;
}
p.card-text {
  height: 95px;
  overflow: hidden;
}
img.card-img-top {
  height: 300px;
}
.card{
  width: 18rem;
    height: 510px;
    margin: 20px;
    justify-content: center;
}